body {
	font-family: Calibri, "Myriad Pro", "Lucida Grande", "Lucida Sans",	Verdana, sans-serif;
	font-size: 15px;
	background-color: #f0f0f0;
}

pre, code {
	font-family: 'Lucida Console', 'Courier New';
	font-size: 12px;
}

table {
	font-size: 15px;
	border: 1px solid #000;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

thead, tbody {
	margin: 0px;
	padding: 0px;
}

td, th {
	border: 0px;
	margin: 0px;
	padding: 2px 4px 2px 4px;
	border-right: 1px dashed #000;
}

.header {
	background-color: #a0a0a0;
}

.odd {
	background-color: #d0d0d0;
}

.even {
	background-color: #f0f0f0;
}

.even a, .even a:hover, .odd a, .odd a:hover {
	border-style: none;
}

.even a:hover, .odd a:hover {
	text-decoration: underline;
}

#topbar a {
	margin-right: 12px;
	font-weight: bold;
	font-size: 16px;;
}

#topbar h3 {
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline;
}

tr {
	border: 0px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

a:hover {
	cursor: color: #E7BB76;
	text-decoration: none;
	border-bottom: 1px solid #000;
}